.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  display: grid;

  height: 200px;

  grid-template-areas:
    "head head"
    "nav  main"
    "footer  footer";

  grid-template-rows: 30px 1fr 30px;

  grid-template-columns: 150px 1fr;
}

header {
  grid-area: head;

  background-color: lightsalmon;
}

.nav-bar {
  grid-area: nav;

  background-color: lightblue;
}

main {
  grid-area: main;

  background-color: lightyellow;
}

footer {
  grid-area: footer;

  background-color: firebrick;
}
